@page "/"

<PageTitle>Corey's Knick Knacks</PageTitle>

<h1><img src="images/CKK.png" width="128" height="128" alt="Logo of Corey's Knick Knacks'"/> CKK</h1>

Welcome to Corey's Knick Knacks! Select Shopping Cart in the navigation to begin a order.
